.stock-container {
    padding: 1rem;
  }
  
  .stock-grid {
    display: grid;
    gap: 1rem;
    margin-bottom: 2rem;
  }
  
  .stock-card {
    border: 1px solid #BB6830;
    border-radius: 12px;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f8efdb;
  }
  
  .stock-card.hack {
    background-color: #f8efdb;
  }
  
  .logs {
    background: #f8efdb;
    border: 1px solid #BB6830;
    padding: 1rem;
    border-radius: 8px;
    max-height: 200px;
    overflow-y: auto;
  }
  